_minted-javascript/
javascript.aux
javascript.bbl
javascript.blg
javascript.log
javascript.out
javascript.pdf
javascript.synctex.gz

jsnote.aux
jsnote.bbl
jsnote.blg
jsnote.fdb_latexmk
jsnote.fls
jsnote.log
jsnote.out
jsnote.pdf
jsnote.synctex.gz
jsnote.toc